In [13]:
#import library

import pandas as pd
import numpy as np
import chardet

In [12]:
pip install chardet

Collecting chardetNote: you may need to restart the kernel to use updated packages.

  WARNING: The script chardetect.exe is installed in 'c:\Users\felic\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip available: 22.3.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading chardet-5.2.0-py3-none-any.whl (199 kB)
     -------------------------------------- 199.4/199.4 kB 2.4 MB/s eta 0:00:00
Installing collected packages: chardet
Successfully installed chardet-5.2.0

In [10]:
import chardet

with open('C:\data felicia\Kuliah smtr 8\coway\data source\Invoice.csv', 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large
charenc = result['encoding']

df = pd.read_csv('file.csv', delimiter=';', thousands=',', encoding=charenc)

ModuleNotFoundError: No module named 'chardet'

In [2]:
# Correct file path
file_path = r"C:\data felicia\Kuliah smtr 8\coway\data source\Invoice.csv"

# Attempt to read the CSV file with encoding
try:
    df = pd.read_csv(file_path, encoding='latin1')  # or encoding='ISO-8859-1'
    print(df.head())
except FileNotFoundError:
    print("Error: The file was not found. Please check the path and file name.")
except pd.errors.ParserError:
    print("Error: There was an issue with parsing the CSV file. Please check the file's content.")
except Exception as e:
    print(f"An error occurred: {e}")

C:\Users\felic\AppData\Local\Temp\ipykernel_21548\1845218630.py:6: DtypeWarning: Columns (10,14,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='latin1')  # or encoding='ISO-8859-1'

  Order ID Net Sales Date    Customer id     Customer Name  Price list
0  Order 1     12/04/2022  CUST-22040173    MxCHxXXU xUAxN  Package 36  \
1  Order 2     31/08/2023  CUST-23081581        QxH HxNGGx  Package 36
2  Order 3     30/03/2024  CUST-24031288   xNAxN XXAxPxAQx  Package 36
3  Order 4     12/04/2022  CUST-22040230    FxAQxH MxxUxNx  Package 60
4  Order 5      6/10/2022  CUST-22100014  xYxUUY xYxHFxAQx  Package 60

  Purchase Type Installment Payment Method Promotion Code Invoice Type
0       Partial                Credit Card   Hore Promo 1    Recurring  \
1       Partial                Credit Card   Hore Promo 2    Recurring
2       Partial           Direct Debit BCA   Hore Promo 3    Recurring
3       Partial                Credit Card   Hore Promo 4    Recurring
4       Partial           Direct Debit BCA   Hore Promo 3    Recurring

   Instalment Number  ... Invoice Date    Due Date Payment Date  Payment
0                  9  ...    1/02/2023  28/02/2023    2/02/2023        0  \
1                  8  ...    1/05/2024  31/05/2024   25/05/2024        0
2                  1  ...    1/05/2024  31/05/2024   30/05/2024        0
3                  9  ...    1/02/2023  28/02/2023    2/02/2023        0
4                 19  ...    1/06/2024  30/06/2024   25/06/2024  580,000

  Invoice Amount Total Payment Outstanding             Risk Invoice Status
0        430,000       860,000    -430,000  Risk Category 1           Paid  \
1        380,000       760,000    -380,000   No Information           Paid
2        300,000       600,000    -300,000  Risk Category 2           Paid
3        290,000       580,000    -290,000  Risk Category 1           Paid
4        290,000       580,000    -290,000  Risk Category 3           Paid

  Overdue Months
0              0
1              0
2              0
3              0
4              0

[5 rows x 21 columns]

In [3]:
print(df)

            Order ID Net Sales Date     Customer id
0            Order 1     12/04/2022   CUST-22040173  \
1            Order 2     31/08/2023   CUST-23081581
2            Order 3     30/03/2024   CUST-24031288
3            Order 4     12/04/2022   CUST-22040230
4            Order 5      6/10/2022   CUST-22100014
...              ...            ...             ...
1002695  Order 73416     23/02/2024  CUST-000065563
1002696  Order 73417     23/02/2024  CUST-000065563
1002697  Order 73418     20/06/2024   CUST-24051663
1002698  Order 63871     15/12/2023   CUST-23120248
1002699  Order 73419     13/06/2024   CUST-24030626

                               Customer Name  Price list Purchase Type
0                             MxCHxXXU xUAxN  Package 36       Partial  \
1                                 QxH HxNGGx  Package 36       Partial
2                            xNAxN XXAxPxAQx  Package 36       Partial
3                             FxAQxH MxxUxNx  Package 60       Partial
4                           xYxUUY xYxHFxAQx  Package 60       Partial
...                                      ...         ...           ...
1002695               xNxAXXQxxAxx xxQUxNGGx  Package 36          Full
1002696               xNxAXXQxxAxx xxQUxNGGx  Package 36          Full
1002697  xxXX xXAAx WxHxD FxxDx MxNxFxCAxQXX  Package 36          Full
1002698           ZZ. AxQYx xXQxNx xXMxDXXQx  Package 72          Full
1002699                    DXXUAx PxNxNG Mxx  Package 72          Full

        Installment Payment Method Promotion Code Invoice Type
0                      Credit Card   Hore Promo 1    Recurring  \
1                      Credit Card   Hore Promo 2    Recurring
2                 Direct Debit BCA   Hore Promo 3    Recurring
3                      Credit Card   Hore Promo 4    Recurring
4                 Direct Debit BCA   Hore Promo 3    Recurring
...                            ...            ...          ...
1002695                        NaN              0     Outright
1002696                        NaN              0     Outright
1002697                        NaN              0     Outright
1002698                        NaN   Hore Promo 3     Outright
1002699                        NaN              0     Outright

         Instalment Number  ... Invoice Date    Due Date Payment Date
0                        9  ...    1/02/2023  28/02/2023    2/02/2023  \
1                        8  ...    1/05/2024  31/05/2024   25/05/2024
2                        1  ...    1/05/2024  31/05/2024   30/05/2024
3                        9  ...    1/02/2023  28/02/2023    2/02/2023
4                       19  ...    1/06/2024  30/06/2024   25/06/2024
...                    ...  ...          ...         ...          ...
1002695                  0  ...   23/02/2024  24/03/2024       [NULL]
1002696                  0  ...   23/02/2024  24/03/2024       [NULL]
1002697                  0  ...   20/06/2024  20/07/2024       [NULL]
1002698                  0  ...   15/12/2023  14/01/2024   29/05/2024
1002699                  0  ...   13/06/2024  13/07/2024       [NULL]

         Payment Invoice Amount Total Payment Outstanding             Risk
0              0        430,000       860,000    -430,000  Risk Category 1  \
1              0        380,000       760,000    -380,000   No Information
2              0        300,000       600,000    -300,000  Risk Category 2
3              0        290,000       580,000    -290,000  Risk Category 1
4        580,000        290,000       580,000    -290,000  Risk Category 3
...          ...            ...           ...         ...              ...
1002695        0     19,950,000        [NULL]  19,950,000   No Information
1002696        0     19,950,000        [NULL]  19,950,000  Risk Category 2
1002697        0     19,950,000        [NULL]  19,950,000  Risk Category 6
1002698        0     28,080,000     1,170,000  26,910,000  Risk Category 1
1002699        0     27,300,000        [NULL]  27,300,000  Risk Category 2

        Invoice Status Overdue Months
0                 Paid              0
1                 Paid              0
2                 Paid              0
3                 Paid              0
4                 Paid              0
...                ...            ...
1002695        Overdue              4
1002696        Overdue              4
1002697         Unpaid              0
1002698        Overdue              6
1002699         Unpaid              0

[1002700 rows x 21 columns]

In [15]:
# Get the list of column names
column_names = df.columns.tolist()

# Print the column names
print(column_names)

['Order ID', 'Net Sales Date', 'Customer id', 'Customer Name', 'Price list', 'Purchase Type', 'Installment Payment Method', 'Promotion Code', 'Invoice Type', 'Instalment Number', 'INVOICE ID', 'Invoice Date', 'Due Date', 'Payment Date', 'Payment', 'Invoice Amount', 'Total Payment', 'Outstanding', 'Risk', 'Invoice Status', 'Overdue Months']

In [16]:
df2 = df

In [17]:
# Remove duplicate rows
df_clean = df2.drop_duplicates()

# Optionally, display the DataFrame to verify
print(df_clean.head())

  Order ID Net Sales Date    Customer id     Customer Name  Price list
0  Order 1     12/04/2022  CUST-22040173    MxCHxXXU xUAxN  Package 36  \
1  Order 2     31/08/2023  CUST-23081581        QxH HxNGGx  Package 36
2  Order 3     30/03/2024  CUST-24031288   xNAxN XXAxPxAQx  Package 36
3  Order 4     12/04/2022  CUST-22040230    FxAQxH MxxUxNx  Package 60
4  Order 5      6/10/2022  CUST-22100014  xYxUUY xYxHFxAQx  Package 60

  Purchase Type Installment Payment Method Promotion Code Invoice Type
0       Partial                Credit Card   Hore Promo 1    Recurring  \
1       Partial                Credit Card   Hore Promo 2    Recurring
2       Partial           Direct Debit BCA   Hore Promo 3    Recurring
3       Partial                Credit Card   Hore Promo 4    Recurring
4       Partial           Direct Debit BCA   Hore Promo 3    Recurring

   Instalment Number  ... Invoice Date    Due Date Payment Date  Payment
0                  9  ...    1/02/2023  28/02/2023    2/02/2023        0  \
1                  8  ...    1/05/2024  31/05/2024   25/05/2024        0
2                  1  ...    1/05/2024  31/05/2024   30/05/2024        0
3                  9  ...    1/02/2023  28/02/2023    2/02/2023        0
4                 19  ...    1/06/2024  30/06/2024   25/06/2024  580,000

  Invoice Amount Total Payment Outstanding             Risk Invoice Status
0        430,000       860,000    -430,000  Risk Category 1           Paid  \
1        380,000       760,000    -380,000   No Information           Paid
2        300,000       600,000    -300,000  Risk Category 2           Paid
3        290,000       580,000    -290,000  Risk Category 1           Paid
4        290,000       580,000    -290,000  Risk Category 3           Paid

  Overdue Months
0              0
1              0
2              0
3              0
4              0

[5 rows x 21 columns]

In [18]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002700 entries, 0 to 1002699
Data columns (total 21 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Order ID                    1002700 non-null  object
 1   Net Sales Date              1002700 non-null  object
 2   Customer id                 1002700 non-null  object
 3   Customer Name               1002700 non-null  object
 4   Price list                  1002700 non-null  object
 5   Purchase Type               1002700 non-null  object
 6   Installment Payment Method  983323 non-null   object
 7   Promotion Code              1001827 non-null  object
 8   Invoice Type                1002700 non-null  object
 9   Instalment Number           1002700 non-null  int64
 10  INVOICE ID                  1002700 non-null  object
 11  Invoice Date                1002700 non-null  object
 12  Due Date                    1002700 non-null  object
 13  Payment Date                1002700 non-null  object
 14  Payment                     1002700 non-null  object
 15  Invoice Amount              1002700 non-null  object
 16  Total Payment               1002700 non-null  object
 17  Outstanding                 1002700 non-null  object
 18  Risk                        1002700 non-null  object
 19  Invoice Status              1002700 non-null  object
 20  Overdue Months              1002700 non-null  int64
dtypes: int64(2), object(19)
memory usage: 160.6+ MB

In [19]:
df_clean['Outstanding'] = df_clean['Outstanding'].replace(',','', regex=True)

In [20]:
df_clean.head()

,Order ID,Net Sales Date,Customer id,Customer Name,Price list,Purchase Type,Installment Payment Method,Promotion Code,Invoice Type,Instalment Number,...,Invoice Date,Due Date,Payment Date,Payment,Invoice Amount,Total Payment,Outstanding,Risk,Invoice Status,Overdue Months
0,Order 1,12/04/2022,CUST-22040173,MxCHxXXU xUAxN,Package 36,Partial,Credit Card,Hore Promo 1,Recurring,9,...,1/02/2023,28/02/2023,2/02/2023,0,"430,000","860,000",-430000,Risk Category 1,Paid,0
1,Order 2,31/08/2023,CUST-23081581,QxH HxNGGx,Package 36,Partial,Credit Card,Hore Promo 2,Recurring,8,...,1/05/2024,31/05/2024,25/05/2024,0,"380,000","760,000",-380000,No Information,Paid,0
2,Order 3,30/03/2024,CUST-24031288,xNAxN XXAxPxAQx,Package 36,Partial,Direct Debit BCA,Hore Promo 3,Recurring,1,...,1/05/2024,31/05/2024,30/05/2024,0,"300,000","600,000",-300000,Risk Category 2,Paid,0
3,Order 4,12/04/2022,CUST-22040230,FxAQxH MxxUxNx,Package 60,Partial,Credit Card,Hore Promo 4,Recurring,9,...,1/02/2023,28/02/2023,2/02/2023,0,"290,000","580,000",-290000,Risk Category 1,Paid,0
4,Order 5,6/10/2022,CUST-22100014,xYxUUY xYxHFxAQx,Package 60,Partial,Direct Debit BCA,Hore Promo 3,Recurring,19,...,1/06/2024,30/06/2024,25/06/2024,"580,000","290,000","580,000",-290000,Risk Category 3,Paid,0

In [21]:
df_clean['Outstanding'].astype(str).astype(float)

0           -430000.0
1           -380000.0
2           -300000.0
3           -290000.0
4           -290000.0
              ...
1002695    19950000.0
1002696    19950000.0
1002697    19950000.0
1002698    26910000.0
1002699    27300000.0
Name: Outstanding, Length: 1002700, dtype: float64

In [22]:
df_clean['Outstanding'] = df_clean['Outstanding'].apply(lambda x: int(round(float(x))))

In [23]:
#drop the nulls

# Check for nulls in each column
null_counts = df_clean.isnull().sum()

# Print the count of null values for each column
print(null_counts)

Order ID                          0
Net Sales Date                    0
Customer id                       0
Customer Name                     0
Price list                        0
Purchase Type                     0
Installment Payment Method    19377
Promotion Code                  873
Invoice Type                      0
Instalment Number                 0
INVOICE ID                        0
Invoice Date                      0
Due Date                          0
Payment Date                      0
Payment                           0
Invoice Amount                    0
Total Payment                     0
Outstanding                       0
Risk                              0
Invoice Status                    0
Overdue Months                    0
dtype: int64

In [24]:
df_clean['Outstanding'].astype(int)

0           -430000
1           -380000
2           -300000
3           -290000
4           -290000
             ...
1002695    19950000
1002696    19950000
1002697    19950000
1002698    26910000
1002699    27300000
Name: Outstanding, Length: 1002700, dtype: int32

In [25]:
df_clean['Outstanding'] = pd.to_numeric(df_clean['Outstanding'], errors='coerce')

In [26]:
# Define a function to categorize the Outstanding amounts
def categorize_outstanding(amount):
    if amount < 500000:
        return 'A'
    elif 500000 <= amount <= 5000000:
        return 'B'
    elif 5000001 <= amount <= 10000000:
        return 'C'
    elif amount > 10000000:
        return 'D'
    else:
        return 'Unknown'  # Just in case there are unexpected values

# Apply the function to create the 'Outstanding group' column
df_clean['Outstanding group'] = df_clean['Outstanding'].apply(categorize_outstanding)

In [27]:
# Count the occurrences of each unique value in the 'Outstanding group' column
value_counts = df_clean['Outstanding group'].value_counts()

# Print the count of 'Unknown'
unknown_count = value_counts.get('Unknown', 0)
print(f"Number of 'Unknown' entries: {unknown_count}")

Number of 'Unknown' entries: 0

In [28]:
df3 = df_clean.copy()

In [30]:
#ubah NULL menjadi 0, dikarenakan null = uang tidak masuk payment = nilainya 0

df3['Total Payment'] = df3['Total Payment'].replace('[NULL]', 0)

In [33]:
# Count the occurrences of each unique value in the 'Outstanding group' column
value_counts = df3['Total Payment'].value_counts()

# Print the count of 'Unknown'
null_count = value_counts.get('[NULL]', 0)
print(f"Number of 'NULL' entries: {null_count}")

Number of 'NULL' entries: 0

In [34]:
print(df3)

            Order ID Net Sales Date     Customer id
0            Order 1     12/04/2022   CUST-22040173  \
1            Order 2     31/08/2023   CUST-23081581
2            Order 3     30/03/2024   CUST-24031288
3            Order 4     12/04/2022   CUST-22040230
4            Order 5      6/10/2022   CUST-22100014
...              ...            ...             ...
1002695  Order 73416     23/02/2024  CUST-000065563
1002696  Order 73417     23/02/2024  CUST-000065563
1002697  Order 73418     20/06/2024   CUST-24051663
1002698  Order 63871     15/12/2023   CUST-23120248
1002699  Order 73419     13/06/2024   CUST-24030626

                               Customer Name  Price list Purchase Type
0                             MxCHxXXU xUAxN  Package 36       Partial  \
1                                 QxH HxNGGx  Package 36       Partial
2                            xNAxN XXAxPxAQx  Package 36       Partial
3                             FxAQxH MxxUxNx  Package 60       Partial
4                           xYxUUY xYxHFxAQx  Package 60       Partial
...                                      ...         ...           ...
1002695               xNxAXXQxxAxx xxQUxNGGx  Package 36          Full
1002696               xNxAXXQxxAxx xxQUxNGGx  Package 36          Full
1002697  xxXX xXAAx WxHxD FxxDx MxNxFxCAxQXX  Package 36          Full
1002698           ZZ. AxQYx xXQxNx xXMxDXXQx  Package 72          Full
1002699                    DXXUAx PxNxNG Mxx  Package 72          Full

        Installment Payment Method Promotion Code Invoice Type
0                      Credit Card   Hore Promo 1    Recurring  \
1                      Credit Card   Hore Promo 2    Recurring
2                 Direct Debit BCA   Hore Promo 3    Recurring
3                      Credit Card   Hore Promo 4    Recurring
4                 Direct Debit BCA   Hore Promo 3    Recurring
...                            ...            ...          ...
1002695                        NaN              0     Outright
1002696                        NaN              0     Outright
1002697                        NaN              0     Outright
1002698                        NaN   Hore Promo 3     Outright
1002699                        NaN              0     Outright

         Instalment Number  ...    Due Date Payment Date  Payment
0                        9  ...  28/02/2023    2/02/2023        0  \
1                        8  ...  31/05/2024   25/05/2024        0
2                        1  ...  31/05/2024   30/05/2024        0
3                        9  ...  28/02/2023    2/02/2023        0
4                       19  ...  30/06/2024   25/06/2024  580,000
...                    ...  ...         ...          ...      ...
1002695                  0  ...  24/03/2024       [NULL]        0
1002696                  0  ...  24/03/2024       [NULL]        0
1002697                  0  ...  20/07/2024       [NULL]        0
1002698                  0  ...  14/01/2024   29/05/2024        0
1002699                  0  ...  13/07/2024       [NULL]        0

        Invoice Amount Total Payment Outstanding             Risk
0              430,000       860,000     -430000  Risk Category 1  \
1              380,000       760,000     -380000   No Information
2              300,000       600,000     -300000  Risk Category 2
3              290,000       580,000     -290000  Risk Category 1
4              290,000       580,000     -290000  Risk Category 3
...                ...           ...         ...              ...
1002695     19,950,000             0    19950000   No Information
1002696     19,950,000             0    19950000  Risk Category 2
1002697     19,950,000             0    19950000  Risk Category 6
1002698     28,080,000     1,170,000    26910000  Risk Category 1
1002699     27,300,000             0    27300000  Risk Category 2

         Invoice Status Overdue Months Outstanding group
0                  Paid              0                 A
1                  Paid              0                 A
2                  Paid              0                 A
3                  Paid              0                 A
4                  Paid              0                 A
...                 ...            ...               ...
1002695         Overdue              4                 D
1002696         Overdue              4                 D
1002697          Unpaid              0                 D
1002698         Overdue              6                 D
1002699          Unpaid              0                 D

[1002700 rows x 22 columns]

In [35]:
df3.head()

,Order ID,Net Sales Date,Customer id,Customer Name,Price list,Purchase Type,Installment Payment Method,Promotion Code,Invoice Type,Instalment Number,...,Due Date,Payment Date,Payment,Invoice Amount,Total Payment,Outstanding,Risk,Invoice Status,Overdue Months,Outstanding group
0,Order 1,12/04/2022,CUST-22040173,MxCHxXXU xUAxN,Package 36,Partial,Credit Card,Hore Promo 1,Recurring,9,...,28/02/2023,2/02/2023,0,"430,000","860,000",-430000,Risk Category 1,Paid,0,A
1,Order 2,31/08/2023,CUST-23081581,QxH HxNGGx,Package 36,Partial,Credit Card,Hore Promo 2,Recurring,8,...,31/05/2024,25/05/2024,0,"380,000","760,000",-380000,No Information,Paid,0,A
2,Order 3,30/03/2024,CUST-24031288,xNAxN XXAxPxAQx,Package 36,Partial,Direct Debit BCA,Hore Promo 3,Recurring,1,...,31/05/2024,30/05/2024,0,"300,000","600,000",-300000,Risk Category 2,Paid,0,A
3,Order 4,12/04/2022,CUST-22040230,FxAQxH MxxUxNx,Package 60,Partial,Credit Card,Hore Promo 4,Recurring,9,...,28/02/2023,2/02/2023,0,"290,000","580,000",-290000,Risk Category 1,Paid,0,A
4,Order 5,6/10/2022,CUST-22100014,xYxUUY xYxHFxAQx,Package 60,Partial,Direct Debit BCA,Hore Promo 3,Recurring,19,...,30/06/2024,25/06/2024,"580,000","290,000","580,000",-290000,Risk Category 3,Paid,0,A

In [36]:
df4 = df3.copy()

In [37]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002700 entries, 0 to 1002699
Data columns (total 22 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Order ID                    1002700 non-null  object
 1   Net Sales Date              1002700 non-null  object
 2   Customer id                 1002700 non-null  object
 3   Customer Name               1002700 non-null  object
 4   Price list                  1002700 non-null  object
 5   Purchase Type               1002700 non-null  object
 6   Installment Payment Method  983323 non-null   object
 7   Promotion Code              1001827 non-null  object
 8   Invoice Type                1002700 non-null  object
 9   Instalment Number           1002700 non-null  int64
 10  INVOICE ID                  1002700 non-null  object
 11  Invoice Date                1002700 non-null  object
 12  Due Date                    1002700 non-null  object
 13  Payment Date                1002700 non-null  object
 14  Payment                     1002700 non-null  object
 15  Invoice Amount              1002700 non-null  object
 16  Total Payment               1002700 non-null  object
 17  Outstanding                 1002700 non-null  int64
 18  Risk                        1002700 non-null  object
 19  Invoice Status              1002700 non-null  object
 20  Overdue Months              1002700 non-null  int64
 21  Outstanding group           1002700 non-null  object
dtypes: int64(3), object(19)
memory usage: 168.3+ MB

In [38]:
df4['Invoice Amount'] = df4['Invoice Amount'].replace(',','', regex=True)
df4['Total Payment'] = df4['Total Payment'].replace(',','', regex=True)

In [39]:
df4['Invoice Amount'].astype(str).astype(float)
df4['Total Payment'].astype(str).astype(float)

0           860000.0
1           760000.0
2           600000.0
3           580000.0
4           580000.0
             ...
1002695          0.0
1002696          0.0
1002697          0.0
1002698    1170000.0
1002699          0.0
Name: Total Payment, Length: 1002700, dtype: float64

In [40]:
df4['Invoice Amount'] = df4['Invoice Amount'].apply(lambda x: int(round(float(x))))
df4['Total Payment'] = df4['Total Payment'].apply(lambda x: int(round(float(x))))

In [41]:
df4['Total Payment'].astype(int)
df4['Invoice Amount'].astype(int)
df4['Overdue Months'].astype(int)

0          0
1          0
2          0
3          0
4          0
          ..
1002695    4
1002696    4
1002697    0
1002698    6
1002699    0
Name: Overdue Months, Length: 1002700, dtype: int32

In [42]:
#drop the nulls

# Check for nulls in each column
null_counts = df4.isnull().sum()

# Print the count of null values for each column
print(null_counts)

Order ID                          0
Net Sales Date                    0
Customer id                       0
Customer Name                     0
Price list                        0
Purchase Type                     0
Installment Payment Method    19377
Promotion Code                  873
Invoice Type                      0
Instalment Number                 0
INVOICE ID                        0
Invoice Date                      0
Due Date                          0
Payment Date                      0
Payment                           0
Invoice Amount                    0
Total Payment                     0
Outstanding                       0
Risk                              0
Invoice Status                    0
Overdue Months                    0
Outstanding group                 0
dtype: int64

In [43]:
df4['Collection Rate'] = np.where(df4['Total Payment'] >= df4['Invoice Amount'], 100, (df4['Total Payment'] / df4['Invoice Amount']) * 100)

In [44]:
df4.head()

,Order ID,Net Sales Date,Customer id,Customer Name,Price list,Purchase Type,Installment Payment Method,Promotion Code,Invoice Type,Instalment Number,...,Payment Date,Payment,Invoice Amount,Total Payment,Outstanding,Risk,Invoice Status,Overdue Months,Outstanding group,Collection Rate
0,Order 1,12/04/2022,CUST-22040173,MxCHxXXU xUAxN,Package 36,Partial,Credit Card,Hore Promo 1,Recurring,9,...,2/02/2023,0,430000,860000,-430000,Risk Category 1,Paid,0,A,100.0
1,Order 2,31/08/2023,CUST-23081581,QxH HxNGGx,Package 36,Partial,Credit Card,Hore Promo 2,Recurring,8,...,25/05/2024,0,380000,760000,-380000,No Information,Paid,0,A,100.0
2,Order 3,30/03/2024,CUST-24031288,xNAxN XXAxPxAQx,Package 36,Partial,Direct Debit BCA,Hore Promo 3,Recurring,1,...,30/05/2024,0,300000,600000,-300000,Risk Category 2,Paid,0,A,100.0
3,Order 4,12/04/2022,CUST-22040230,FxAQxH MxxUxNx,Package 60,Partial,Credit Card,Hore Promo 4,Recurring,9,...,2/02/2023,0,290000,580000,-290000,Risk Category 1,Paid,0,A,100.0
4,Order 5,6/10/2022,CUST-22100014,xYxUUY xYxHFxAQx,Package 60,Partial,Direct Debit BCA,Hore Promo 3,Recurring,19,...,25/06/2024,"580,000",290000,580000,-290000,Risk Category 3,Paid,0,A,100.0

In [45]:
# Check for negative values in 'Total Payment' column
if (df4['Total Payment'] < 0).any():
    print("There are negative values in the 'Total Payment' column.")
else:
    print("There are no negative values in the 'Total Payment' column.")

# Check for negative values in 'Invoice Amount' column
if (df4['Invoice Amount'] < 0).any():
    print("There are negative values in the 'Invoice Amount' column.")
else:
    print("There are no negative values in the 'Invoice Amount' column.")

There are negative values in the 'Total Payment' column.
There are no negative values in the 'Invoice Amount' column.

In [62]:
#df4_ca = df4[df4['Customer Name'] == 'CA. AxAxMx xNDxNxxX']

In [46]:
nilai_unik = df4['Collection Rate'].unique()
print(nilai_unik)

[ 1.00000000e+02  9.99999880e+01  9.98214286e+01  9.99854637e+01
  9.75925926e+01  9.58333333e+01  9.62962963e+01  9.70588235e+01
  9.40711462e+01  9.50000000e+01  9.81982308e+01  9.81982143e+01
  8.88888889e+01  8.75000000e+01  8.70370370e+01  8.51851852e+01
  9.81982041e+01  7.72727273e+01  9.63963846e+01  9.81981923e+01
  8.22962963e+01  9.81405000e+01  8.57142857e+01  8.14814815e+01
  9.09090909e+01  8.73877500e+01  9.63964286e+01  7.27272727e+01
  7.93103448e+01  7.77777778e+01  7.58620690e+01  7.33333333e+01
  2.53164557e+00  0.00000000e+00  7.03703704e+01  6.66666667e+01
  5.65656566e+01  6.25000000e+01  6.87500000e+01  6.55172414e+01
  8.18181818e+01  9.27928571e+01  9.87387500e+01  9.27857143e+01
  5.55555556e+01  5.86206897e+01  5.51724138e+01  7.50000000e+01
  9.86486523e+01  4.81481481e+01  6.51162791e+01  4.79310345e+01
  4.07407407e+01  5.42857143e+01  4.48275862e+01  5.00000000e+01
  2.72727273e+01  4.16071429e+01  3.88888889e+01  2.50000000e+01
  6.73076923e+01  3.70370370e+01  2.27272727e+01  8.73872143e+01
  3.33333333e+01  4.37500000e+01  4.70588235e+01  9.30007308e+01
  6.06060606e+00  5.05050505e+00  2.96296296e+01  1.36363636e+01
  3.44827586e+01  2.08333333e+01  4.28571429e+01  9.09090909e+00
  2.59259259e+01  1.25000000e+01  5.62500000e+01  2.22222222e+01
  3.43750000e+01  5.53191489e+01  9.19230769e+01  1.85185185e+01
  2.41379310e+01  4.16666667e+00  1.48148148e+01  4.38095238e+01
  1.11111111e+01  2.94117647e+01  3.14285714e+01  2.85714286e+01
  7.40740741e+00  1.37931034e+01  1.66666667e+01  3.75000000e+01
  7.90513834e-01  5.55555556e+00  3.70370370e+00  1.87500000e+01
  1.81818750e+01  2.59259259e+00  1.85185185e+00  9.25925926e-01
  3.28518519e-01  3.72093023e+01  1.56250000e+01  3.53514286e+01
  4.13793103e+00  3.44827586e+00  1.76470588e+01  9.84843144e+01
  4.96491228e+01  6.89655172e-01  9.37500000e+00  3.33333333e+00
  6.25000000e+00  4.32164941e+01  2.71428571e+01  2.03125000e+00
  2.38095238e+01  5.88235294e+00  5.71428571e+00  2.94117647e+00
  2.30769231e+00  7.14285714e+00  5.00000000e-01  6.97674419e+00
  8.33333333e+00  1.09090909e+01 -1.00000000e+02  9.54766312e+01
  1.57894737e-03  4.60006295e+01  6.60002681e+01  9.16666667e+01
  9.10000018e+01  7.56578947e+01  7.15170279e+01  6.86005556e+01
  5.69541029e+01  5.59805424e+01  1.52069918e+01  1.44772118e+01]

In [47]:
nilai_unik = df4['Purchase Type'].unique()
print(nilai_unik)

['Partial' 'Full']

In [48]:
nilai_unik = df4['Price list'].unique()
print(nilai_unik)

['Package 36' 'Package 60' 'Package 6' 'Membership' 'Product Only'
 'Delivery Package 6-P' 'Delivery Package 6' 'After Service' 'Package 72'
 'Membership Installment']

In [49]:
nilai_unik = df4['Promotion Code'].unique()
print(nilai_unik)

['Hore Promo 1' 'Hore Promo 2' 'Hore Promo 3' 'Hore Promo 4'
 'Hore Promo 5' 'Hore Promo 6' 'Hore Promo 7' 'Hore Promo 8'
 'Hore Promo 9' 'Hore Promo 10' 'Hore Promo 11' 'Hore Promo 12'
 'Hore Promo 13' 'Hore Promo 14' 'Hore Promo 15' 'Hore Promo 16'
 'Hore Promo 17' 'Hore Promo 18' 'Hore Promo 19' 'Hore Promo 20'
 'Hore Promo 21' 'Hore Promo 22' 'Hore Promo 23' 'Hore Promo 24'
 'Hore Promo 25' 'Hore Promo 26' 'Hore Promo 27' 'Hore Promo 28'
 'Hore Promo 29' 'Hore Promo 30' 'Hore Promo 31' 'Hore Promo 32'
 'Hore Promo 33' 'Hore Promo 34' 'Hore Promo 35' 'Hore Promo 36'
 'Hore Promo 37' 'Hore Promo 38' 'Hore Promo 39' 'Hore Promo 40'
 'Hore Promo 41' 'Hore Promo 42' 'Hore Promo 43' 'Hore Promo 44'
 'Hore Promo 45' 'Hore Promo 46' 'Hore Promo 47' 'Hore Promo 48'
 'Hore Promo 49' 'Hore Promo 50' 'Hore Promo 51' 'Hore Promo 52'
 'Hore Promo 53' 'Hore Promo 54' 'Hore Promo 55' 'Hore Promo 56'
 'Hore Promo 57' 'Hore Promo 58' 'Hore Promo 59' 'Hore Promo 60'
 'Hore Promo 61' 'Hore Promo 62' 'Hore Promo 63' 'Hore Promo 64'
 'Hore Promo 65' 'Hore Promo 66' 'Hore Promo 67' 'Hore Promo 68'
 'Hore Promo 69' 'Hore Promo 70' 'Hore Promo 71' 'Hore Promo 72'
 'Hore Promo 73' 'Hore Promo 74' 'Hore Promo 75' 'Hore Promo 76'
 'Hore Promo 77' 'Hore Promo 78' 'Hore Promo 79' 'Hore Promo 80'
 'Hore Promo 81' 'Hore Promo 82' nan '0']

In [50]:
nilai_unik = df4['Total Payment'].unique()
print(nilai_unik)

[  860000   760000   600000   580000   540000   480000  8345455  6045455
   245455  1545455  7145455 13745455  6736364  6536364  8836364 12236364
  1711712  5927273  6327273  8727273 10720721  8227273  7927273 11127273
  9729730  7274775  7418182   218182  6846847  4864865  6891892  7609091
  5709091  7309091  6909091 12409910 10509091   972973 17972973   430000
   270000  8000000  2000000  3240000  9450000  7000000  4320000 17500000
  1800000  6760000   240000   500000  8400000 16800000  8100000  1620000
  4860000  8910000 15840000 14200000  2350000  7500000 18000000  9720000
 17280000  1200000 16500000 14620000  8640000  3000000  9900000 12100000
  2880000  1440000 14500000   108000  8160000   810000  9180000  7750000
  1500000  4000000 17000000 15480000 16320000  7730800  6760600  7920000
  7730000  2400000  7460000  6520000 13200000  1920000 13760000  1100000
 10320000  2500000 15360000  7190000  7680000  1000000  1080000 13540000
 16000000  7200000  2450000 12700000 11240000  2430000  2700000  1040000
  8140000  4730000   520000  6280000   400000   220000   420000   340000
 17680000  6920000  6040000 12760000  6480000  1350000   200000  9360000
 14190000 23200000   290000   350000 24360000 13460000  9100000  5000000
  6300000  2100000   371250 11900000 16820000  3780000   320000  7860000
  8840000 10880000  5760000 15660000   960000  7540000 10560000  5440000
  4590000 15390000 17160000 11550000  5130000 12940000   640000  3500000
   720000  4050000  1050000 12540000 10810000   337500  8050000  4400000
 10240000 11200000  1700000 23940000  8750000  3200000  8380000 11220000
  6900000  9920000  8370000  5940000 19380000  5241000   198000   680000
   253000  6650000  5800000  7480000  6120000  6380000  7830000  9000000
  7220000  1020000  3400000 22800000  4700000  8500000  8040000  8349000
 10850000  7360000 16530000  9400000  6580000  2780000   380000  9860000
  7700000   396000  5120000  6960000  4554000 11286000  1560000 13050000
  8460000  7650000 11560000 10890000 10200000    16000   110000 12780000
  6110000  8720000  5400000 12320000  3840000  8602000  8820000  2860000
   120000   431000 15950000   246000   419000   136000   201000    26000
 12000000   170000   126000   275000   210000  7600000  8075000  8930000
 11495000   360000  2200000  6000000  2695000  2272800  7440000 18200000
  5700000  9310000 12250000 11224080  1750000 12240000  1360000  6750000
 11520000 13775000   332000   147000  4840000 16120000 19720000  9108000
  8855000  9600000 13490000   171000 25200000   700000  1510000  9800000
   715000   710000   273000  5780000   440000  2970000   459000   385000
   169000  8700000  1010000  2150000   137400   250000   558800 18720000
  1441000  4080000  2210000  3300000   200200   131000  8262000  9792000
   152000   111400   281000  7740000 13770000   306000   292000   148000
   130000   990000  1530000  2205000  2250000  2115000   313000  1615000
 14580000   956000  1140000  7250000 12600000   138000   152180  2066000
 10404000  2232500   129980   697270  2337500   617000   252000 14790000
   317200    25000  1009100  2375000   345400   287000   533000  1110000
   745800   910000   882070   212000 16640000 11484000 11340000   175800
   278000  1045000   329180  1175000   146000   410300   300000   550000
 12312000   134000 15312000 18468000   390000   570000 17820000 10454400
 22176000 12636000  8748000 15050000  8197200 17952000   870000 11616000
  2327500   450000  1400000 21120000  1900000  1300000  2600000  1650000
   128700 14256000   289300  1578180 13650000  2550000  6840000 14652000
   421800   159000  2315000 19950000  1225000 22271040   129000  6600000
 15300000 23520000   652750 19040000 18700000  6800000 12960000  5950000
 13300000 19250000 10080000  1079000  5100000 16240000  1813940 12920000
 22400000 11088000   635800  2280000  1330000  1235000  1394700 10500000
   166000   198800   132000  1703940  4250000   758800 16200000 15750000
    48000 13260000   650000  1275000    99000  4740000  1422000    79000
   109000 17100000  6534000 17400000 11600000   271000   177000 23620800
   360750 24000000   121000 20520000  3270000  6540000  2725000   765000
 19200000  4752000 13920000  5232000   181000 14400000  3564000 14040000
 10800000   238000 13680000 25308000 19800000   840000 16400000   370000
 17600000   330000   280000   470000   297000   242000 26640000   189000
   260000   219000   319000   475200   808000   393050 20400000 13608000
 18240000   900000 25800000   595000  1566000 28080000  7848000 14976000
 23760000  3360000 27000000 20160000   704000   149000  7020000 13320000
  4644000   593000  9288000 10260000   300240 11448000  4560000  3924000
   223220 19140000   483000 18810000 26100000   185000   421000   199000
   679000   739000   227000   371300 13140000   683000   190000   194700
 27300000   262000 15180000  9570000   282000   474100   562000 24940000
   150000  1307000   312932   186068   319033   179967   245840   193160
   285000  4900000        0 22970376 12957624 25530000 28980000  1877592
  1116408   292600   631750   336000   541000   142000   950000  1121250
    13200   415050   158000 17700480 13907520   173000 22531104 13396896
   703000  1167000   187180   245000   140000  8027027  1081081  5490909
  6290909   290909  1090909  7340909  9890909  8345454  8108108  1171171
  6781818  6981818  5981818   180180  7207207  1261261 15272727  7272727
  6462727  2272727 16072727  5272727 12297297  6306306   315315   528333
  2342342  6763636   360360  6563636  7363636  1378378 16396396  7854545
  5054545  6854545  9459459 17459459 18486486 11495495  1397500 19947100
   263500   230000   323000  1276577  1374775   235000  2405856   153000
  1253153  2553153   222200  2551653   349551  1349550   160000     2000
   112000   180000  1299100  7899100  1299000  9588649   139000    60000
   116500   105000    55000   100000    50000  1223421    90000  2418019
    12000    10000    80000    30000    20000    70000  2390000    40000
   184000    15000    58182     7000     5000     2500      887   148476
 18206289   283000   228327   114000     6500     9000  -270000 11848564
        9   580188  1545952  9240000 15888108  5750000  5775000  5556645
  4095000  4025001  3460000  3595000   868181  2972973  1170000]

In [52]:
print(df4)

            Order ID Net Sales Date     Customer id
0            Order 1     12/04/2022   CUST-22040173  \
1            Order 2     31/08/2023   CUST-23081581
2            Order 3     30/03/2024   CUST-24031288
3            Order 4     12/04/2022   CUST-22040230
4            Order 5      6/10/2022   CUST-22100014
...              ...            ...             ...
1002695  Order 73416     23/02/2024  CUST-000065563
1002696  Order 73417     23/02/2024  CUST-000065563
1002697  Order 73418     20/06/2024   CUST-24051663
1002698  Order 63871     15/12/2023   CUST-23120248
1002699  Order 73419     13/06/2024   CUST-24030626

                               Customer Name  Price list Purchase Type
0                             MxCHxXXU xUAxN  Package 36       Partial  \
1                                 QxH HxNGGx  Package 36       Partial
2                            xNAxN XXAxPxAQx  Package 36       Partial
3                             FxAQxH MxxUxNx  Package 60       Partial
4                           xYxUUY xYxHFxAQx  Package 60       Partial
...                                      ...         ...           ...
1002695               xNxAXXQxxAxx xxQUxNGGx  Package 36          Full
1002696               xNxAXXQxxAxx xxQUxNGGx  Package 36          Full
1002697  xxXX xXAAx WxHxD FxxDx MxNxFxCAxQXX  Package 36          Full
1002698           ZZ. AxQYx xXQxNx xXMxDXXQx  Package 72          Full
1002699                    DXXUAx PxNxNG Mxx  Package 72          Full

        Installment Payment Method Promotion Code Invoice Type
0                      Credit Card   Hore Promo 1    Recurring  \
1                      Credit Card   Hore Promo 2    Recurring
2                 Direct Debit BCA   Hore Promo 3    Recurring
3                      Credit Card   Hore Promo 4    Recurring
4                 Direct Debit BCA   Hore Promo 3    Recurring
...                            ...            ...          ...
1002695                        NaN              0     Outright
1002696                        NaN              0     Outright
1002697                        NaN              0     Outright
1002698                        NaN   Hore Promo 3     Outright
1002699                        NaN              0     Outright

         Instalment Number  ... Payment Date  Payment Invoice Amount
0                        9  ...    2/02/2023        0         430000  \
1                        8  ...   25/05/2024        0         380000
2                        1  ...   30/05/2024        0         300000
3                        9  ...    2/02/2023        0         290000
4                       19  ...   25/06/2024  580,000         290000
...                    ...  ...          ...      ...            ...
1002695                  0  ...       [NULL]        0       19950000
1002696                  0  ...       [NULL]        0       19950000
1002697                  0  ...       [NULL]        0       19950000
1002698                  0  ...   29/05/2024        0       28080000
1002699                  0  ...       [NULL]        0       27300000

        Total Payment Outstanding             Risk  Invoice Status
0              860000     -430000  Risk Category 1            Paid  \
1              760000     -380000   No Information            Paid
2              600000     -300000  Risk Category 2            Paid
3              580000     -290000  Risk Category 1            Paid
4              580000     -290000  Risk Category 3            Paid
...               ...         ...              ...             ...
1002695             0    19950000   No Information         Overdue
1002696             0    19950000  Risk Category 2         Overdue
1002697             0    19950000  Risk Category 6          Unpaid
1002698       1170000    26910000  Risk Category 1         Overdue
1002699             0    27300000  Risk Category 2          Unpaid

         Overdue Months Outstanding group Collection Rate
0                     0                 A      100.000000
1                     0                 A      100.000000
2                     0                 A      100.000000
3                     0                 A      100.000000
4                     0                 A      100.000000
...                 ...               ...             ...
1002695               4                 D        0.000000
1002696               4                 D        0.000000
1002697               0                 D        0.000000
1002698               6                 D        4.166667
1002699               0                 D        0.000000

[1002700 rows x 23 columns]

In [51]:
# export to csv

file_path = 'C:\\data felicia\\Kuliah smtr 8\\coway\\data source\\cleaned data2.csv'

# Export the DataFrame to a CSV file
df4.to_csv(file_path, index=False)